.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 300px;
    position: relative;
    margin: 3rem auto 0 auto;
    flex-wrap: wrap;
  }

  .content-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 60vh;
    position: relative;
    margin: 30px auto 0 auto;
    flex-wrap: wrap;
  }  

  .benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 900px;
    height: 100%;
    flex-wrap: wrap;
  }

  .benefits-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 900px;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .benefits-one svg{
    width: 150px;
  }
  
  .benefits svg {
    width: 100px;
  }

  .cls-1 {
    fill: #1ab7ea;
  }
  
  .cls-1,
  .cls-2 {
    fill-rule: evenodd;
  }
  
  .cls-2 {
    fill: #fff;
  }
  
  .cls-3 {
    fill: #ee8208;
    fill-rule: evenodd;
  }
  
  .cls-4 {
    fill: #fff;
  }
  
  .cls-5,
  .cls-6 {
    fill-rule: evenodd;
  }
  
  .cls-5 {
    fill: #48dd55;
  }
  
  .cls-6 {
    fill: #fff;
  }
  
  .cls-7 {
    fill: #0a66c2;
  }
  
  .cls-7,
  .cls-8 {
    fill-rule: evenodd;
  }
  
  .cls-8 {
    fill: #fff;
  }
  
  .cls-9 {
    fill: #10b7f4;
  }
  
  .cls-9,
  .cls-10 {
    fill-rule: evenodd;
  }
  
  .cls-10 {
    fill: #fff;
  }
  
  .cls-11 {
    fill: #1da1f2;
  }
  
  .cls-11,
  .cls-12 {
    fill-rule: evenodd;
  }
  
  .cls-12 {
    fill: #fff;
  }
  
  .cls-13 {
    fill: #ea4c89;
  }
  
  .cls-13,
  .cls-14 {
    fill-rule: evenodd;
  }
  
  .cls-14 {
    fill: #fff;
  }
  
  .cls-15 {
    fill: #1769ff;
  }
  
  .cls-15,
  .cls-16 {
    fill-rule: evenodd;
  }
  
  .cls-16 {
    fill: #fff;
  }
  
  .cls-17 {
    fill: #f26522;
  }
  
  .cls-17,
  .cls-18 {
    fill-rule: evenodd;
  }
  
  .cls-18 {
    fill: #fff;
  }
  